<body>
  <div id="bg-img">
      
      <div class="topnav">
        <div id="left">
          <h3>ENSA-PAY</h3> 
        </div>  
        <div id="right">
          <a class="active" href="#home">Home</a>
          <a href="#news">Newss</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
        </div> 
      </div>
      <div id="centre"> 
        <p>Le développement spécifiques ou l’intégration de produits partenaires sont alors
          réalisés conformément aux cahiers des charges et cadencés en cycle de vie, depuis les
          spécifications jusqu’aux mises en service. </p>
          <div class="container ">
            <mat-panel-title>
              <h1>Laaka</h1>
            </mat-panel-title>
          <div class="part part2">
          <mat-card class="card"  >
            <mat-card-content>
              <form   >
                <h2>LOGIN</h2>
          
                <mat-error  >
                  Username ou mot de passe non reconnu.
                </mat-error>
          
                <mat-form-field >
                  <input
                  matInput
                  placeholder="Username"
          
                  /><br>
          
                  <mat-error>
                    Entrez un username s'il vous plait.
                  </mat-error>
                </mat-form-field>
          
                <mat-form-field >
                  <input
                    matInput
                    placeholder="Password"
          
                  />
          
                  <mat-error>
                    Entrez un mot de passe s'il vous plait.
                  </mat-error>
                </mat-form-field>
          
                <button mat-raised-button color="primary" class="btn"  routerLinkActive="router-link-active" >Login</button>
              </form>
            </mat-card-content>
          </mat-card>
          </div>
          </div>
          >  

        
      </div>
  </div>
</body>
